/* Login */
.login_logo{
    max-width: 50%;
}

/* Dashboard */
.dashboard-icons{
    font-size:50px
}

.dashboard-profile-icons{
    font-size: 25px;
}

.dashboard-statistik-indicator{
    width: 30px;
    height: 30px;
}

#dashboard-profile-foto{
    width: 120px;height: 120px;background-size: cover;
}